<div class="text-center w-100 pb-5 mb-5 divAgradecimiento" style="">
  	<h2 style="font-size: 75px;"class="pb-3 pt-3"><b>Mucha suerte!</b></h2>
  	<div>
  		<h4 class="pb-2">No te olvides de seguirnos en nuestro Instagram</h4>
  		<a href="https://www.instagram.com/POTENCIARNOSVC">
  			<h5><img src="/images/instagramlogo.png" class="d-inline-block imageInstagram"><span class="d-inline-block">/potenciarnosvc</span></h5>
		</a>
  	</div>
</div>