<div class="mt-5 card border-0  text-center h1" style="margin-bottom:15%;">
    <% if(inscriptos.length){ %>
        <div class="card-header botonRegistro">
            Ganador del sorteo
        </div>
        <div class="card-body backgroundSelect">
            <h5 class="card-title h2">FELICITACIONES!!!</h5>
            <% var inscripto = inscriptos[Math.floor(Math.random() * inscriptos.length)]%>
            <%= inscripto.nombre + " " + inscripto.apellido %>
            <p class="card-text"></p>
            <a href="/" class="btn btn-primary">Proximo</a>
        </div>
    <% } else {%>
        <div class="card-header botonRegistro">
            Participa de nuestro sorteo
        </div>
        <div class="card-body backgroundSelect">
            <h5 class="card-title h2">Escanea el QR y registrate</h5>
            <img src="/images/qr.png" class="w-50 h-25" alt="Imagen del QR">
            <p class="card-text"></p>
        </div>
    <% } %>

</div>