<!DOCTYPE html>
<html>
	<%- include("./components/base/head", {title : "Principal - Potenciarnos"})%>
	<body>
		<%- include('./components/base/header')%>
		<%- include("./components/vistaSorteo")%>
		<%- include('./components/base/footer')%>
	</body>
</html>