<!DOCTYPE html>
<html>
	<%- include("./components/base/head", {title : "Registro - Potenciarnos"})%>
	<body>
		<%- include('./components/base/header')%>
		<%- include("./components/formularioRegistro")%>
		<%- include('./components/base/footer')%>
	</body>
</html>