<footer class="text-center" style="margin:0 auto">
    <div class="w-100 pb-4" style="position: sticky;bottom: 40px;right:50%;left: 0%;">
        <img src="/images/logoMunicipio.png" style="width:100px;">
    </div>
</footer>